include README.md
include LICENSE
include requirements.txt
recursive-include ckanext/datapusher_plus *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/datapusher_plus/migration *.ini *.py *.mako
